.terminal {
    width: 50%;
    height: 50%;
    background-color: #000;
    border: 1px solid #333;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10%;
    left: 10%;
    resize: both;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  }
  
  .terminal-header {
    background-color: #1e1e1e;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px 10px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: move;
    user-select: none;
  
  }
  
  .terminal-header .terminal-title {
    font-size: 16px;
    margin: 0;
  }
  
  .terminal-header .controls {
    display: flex;
    align-items: center;
  }
  
  .terminal-header .controls button {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .terminal-header .controls button:hover {
    text-shadow: 0 0 2px #fff;
  }
  
  .terminal-content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    font-size: 14px;
    overflow:auto;
    height: calc(100% - 40px);
  
  }
  
  .terminal-content p {
    margin: 5px 0;
    color: #fff;
  }
  
  .terminal-content .error {
    color: #f00;
  }
  
  .terminal-content .warning {
    color: #ff0;
  }
  
  .terminal-content .info {
    color: #0ff;
  }
  
  .start-page {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .reopen-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  /* 浮动按钮样式 */
  .floating-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .terminal-content::-webkit-scrollbar {
    width: 8px;
  }
  
  .terminal-content::-webkit-scrollbar-track {
    background: #1e1e1e;
  }
  
  .terminal-content::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 4px;
  }
  
  .terminal-content {
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: #666 #1e1e1e; /* Firefox */
    overflow-y: auto;
  }
  
  
  
  .terminal-header {
    flex-shrink: 0; /* 防止标题栏被压缩 */
  }
  
  .terminal-content {
    flex: 1;
    min-height: 100px; /* 保证最小高度 */
  }